# Python
__pycache__/
*.pyc
.env
.env.*

# VSCode
.vscode/

# ignore local test results:
test-results/

# Alembic / DB
*.sqlite3
*.log
#alembic.ini

# macOS
.DS_Store

# development file/folders:
dev_tracking/
results/
test-results/
job_Listings*.json
job_outputs.txt
testing*.py
structure.dot
structure.txt 
go.sh
*results.txt
archive/
*.zip
favicon/
*optimized.txt
*.docx 
!example.docx
job*.html
job_output*.json
jobs_list_*.json
out*.txt
saved*.csv

job_find.*
job_output.json

# skip the resume upload folder:
uploads/

# skip the node_modules folder for the frontend:
node_modules
dist/
*.log
debug.json

# exclude the temp files for "npm run dev"
.next/

# this is an alternative to use the Adzuna API, ignore for how:
job_search_adzuna.py

# exclude the chatGPT memory files:
FindMyDreamJobs_ProjectState_June2025.txt