# Python
__pycache__/
*.pyc
.env
.env.*

# VSCode
.vscode/

# Alembic / DB
*.sqlite3
*.log
alembic.ini

# macOS
.DS_Store

# development file/folders:
dev tracking/
results/
job_Listing*.json
job_outputs.txt
testing*.py

# skip the resume upload folder:
uploads/

# skip the node_modules folder for the frontend:
node_modules
dist/
*.log
debug.json

# exclude the temp files for "npm run dev"
.next/

