fastapi
uvicorn
python-dotenv
psycopg2-binary		# PostgreSQL
sqlalchemy
pdfplumber
python-docx
python-multipart
requests
bs4
beautifulsoup4		# parsing html with a URL
spacy			#NLP Library
scikit-learn>=1.3.0
apscheduler
schedule		# match/ats sccore calculation
passlib
bcrypt
openai
pydantic
alembic     # database migration
pydantic[email] # email validation
itsdangerous    # for creating tokens