python-multipart
fastapi
uvicorn
python-dotenv
psycopg2-binary # PostgreSQL
psycopg2
pdfplumber
python-docx
spacy   #NLP Library
beautifulsoup4 # parsing html with a URL
scikit-learn>=1.3.0 # match/ats sccore calculation